/* Base Tailwind Layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  overflow-x: hidden;
}

/* Custom Scrollbar for WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}